.plantName{
    font-size: 105px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    color: whitesmoke;
    position: absolute;
    top: 3%;
    align-content: center;
    width: 100%;

}

.detailContent:after {
    content: "";
    display: table;
    clear: both;
  }

.detailsRequired li{
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    padding: 10px;
    color: white;
    font-weight: bold;

}
.detailsRequired span {
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    color: sandybrown;
    font-weight: bold;
}
.plantImage{

    height: 500px;
    width: 450px;
    margin-top: 70px;
    
}

.detailsRequired{
    border: 10px solid #a5e500 ;
    background-color:  #4c8500;
    border-radius: 10px;
    padding-bottom: 20px; 
    padding-top: 20px; 
    width: 40%;
    top:20%;
    position:absolute;
    margin-left: 30%;
    
    
}
.detailsBg{
    width: cover;
    height: cover;
}
.detailContent{
    position: relative;
    display: border-box;
}

.plant{

}