.disease_background{
    background-color:	#9ACD32;
    border: 6px solid 	#006400;
    padding: 50px;
    margin: 50px 20px 50px 20px;
    /* opacity: 0.9; */
    border-radius: 10px;
    
    
  }

.disease_background center {
    font-family: 'Bree Serif', serif;
    font-size: 45px;
    font-weight: bold;
    background: -webkit-linear-gradient(90deg,  rgba(41,154,25,1) 41%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: solid; 
    padding-bottom: 20px;
  }
  
.upperimage{
  height:0px;
}
.disease_details{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 27%;
  top: 7%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 }
 .disease_content{
  background-color: #001a00;
  border: 5px solid #4c8500;
  width: 50%; /*Could be more or less, depending on screen size  */
  height: auto; 
  padding:16px; 
 }

 /* Add Zoom Animation */
 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
}
/* button{
  color: black;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Bree Serif', serif;
} */
.detail_disease h1{
  font-size: 24px;
  font-family:'Bree Serif', serif;
  color: seashell;
  text-align: left;
}

.disease_button{
  
    background-color:transparent;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    padding: 3px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
  
}
.disease_button:hover{
  background-color: black;
  color: white;
}

.detail_disease p{
  font-size: 20px;
  font-family:'Bree Serif', serif;
  color: #B8860B;
  
}

.results{
  font-size: 22px;
  font-family:'Bree Serif', serif;
}

input[type = file]{
  font-size: 22px;
  font-family:'Bree Serif', serif;
}


