img{
  height:auto;
  width:100%;
}

.form{
  position: absolute;
  top: 40%;
  left: 30%;
}

.details{
  background-color: khaki;
}


select,option{
  width: 30%;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 8px;
  border: 2px solid wheat;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 20px;
  margin-left: 180px;
}
label strong {
  font-size:60px;
  font-family: 'Satisfy', cursive;
  color: wheat;
  font-weight: bold;
  margin-left: 120px;
  
}
.district{
  align-content: center;
}

.psButton{
  background-color:transparent;
  border: 3px solid wheat;
  border-radius: 10px;
  color: wheat;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 35px 2px;
  cursor: pointer;
  position: absolute;
  font-family: 'Satisfy', cursive;
  top:100%;
  left: 220px;
  font-weight: bold;
}
.psButton:hover{
  background-color: wheat;
  color: black;
}
.container a,span {
  font-family:'Montserrat', sans-serif ;
  margin-top: 50px;
 }

 .plants{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 27%;
  top: 30%;
  width: 100%; /* Full width */
  height: auto; /* Full height */
 }

 .plantContent{
  background-color: #fefefe;
  border-radius: 10px ; 
  border: 5px solid #4c8500;
  width: 50%; /*Could be more or less, depending on screen size  */
  height: 56%; 
  padding:16px; 
 }

 /* Add Zoom Animation */
 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
}

.plantList {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 8px;
  padding: 5px;
}

.plantList > div {
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  font-family:'Montserrat', sans-serif ;
}

h1{
  font-family:'Montserrat', sans-serif ;
  text-align: center;
  font-size: 28px;
  color:#a5e500 ;
  font-weight: bold;
}
.plant span{
  font-family:'Montserrat', sans-serif ;
  font-size: 22px;
  color: #4c8500;
  font-weight: bold;
}
.plant a {
  cursor: pointer;
}

.icon{
  margin-left: 680px;
  font-size: 22px;
  color:#4c8500 ;
  cursor: pointer;
  
  
 
}

