.blogImg img{
    height: 600px;
}
.BlogContent{
    background-color: 	#061a00;
}

.blogImg h1{
    font-size: 160px;
    font-weight: bold;
    top: 30%;
    position: absolute;
    font-family: 'Satisfy', cursive;
    color: wheat;
    padding: 30px;
    left: 18%;

}
.blogImg p{
    font-size: 70px;
    font-weight: bold;
    top: 57%;
    position: absolute;
    font-family: 'Satisfy', cursive;
    color: wheat;
    padding: 30px;
    left: 38%;

}

.blogImg_Box{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
}

.blogImg_Box img{
    padding: 20px;
    height: 370px;
    width: 370px;
    margin-left: 50px;
    margin-top: 20px;
    opacity: 0.5;
    position: relative;
    cursor: pointer;
}
.Blog_post01 p {
    font-size: 18px;
    color: white;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    position: relative;
    

}

.postTitle{
    position: relative;
    width:330px;
    left: 15%;
    bottom: 30%;
    word-wrap:break-word;
    
    

}
.blogImg_Box img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

.BlogContent p3{

    font-size: 32px;
    color: wheat;
    font-family: 'Bree Serif', serif;
    text-align: left;
    margin-bottom: 20px;
    
    padding: 70px;
}
.uploadPost{
    background-color: white;
    width: 1000px;
    height: auto;
    border-radius: 5px;
    border: 5px solid #a5e500;
    margin-left: 250px;
    margin-bottom: 30px;
}
.blogButton{
    background-color:transparent;
    border: 3px solid #a5e500;
    border-radius: 10px;
    color: #a5e500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    margin-left: 680px;
    font-family: 'Bree Serif', serif;
    margin-top: 20px;
    margin-bottom: 20px;
  
  
}
#outlined-multiline-flexible{
    width: 900px;
    
}

#standard-required{
    padding: 10px;
}