.NavItems{
  height: 120px;
  background-color:#4c8500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


li a{
  font-family:  'Montserrat', sans-serif;
  font-size: 22px;
  text-decoration: none;
  display: block;
  list-style-type: none;
  font-weight: bold;
  color: white;
  
}

.Logo{
  width: 120px;
  height: 100px;
}

.ImgLogo{
  width: 150px;
  margin-left: 40px ;
  position: relative;
}
.NavMenu ul{
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap : 50px;
  text-align: center;
  width: 200px;
  white-space: nowrap;
  position: relative;
  list-style-type: none;
  padding-left: 220px;
}


a:hover{
  color:#a5e500 ;
  transition: all 0.2s ease-out;
  
}




